<form action= "/equipe" method= "post"></br>
  <input type= "text" name= "name"></input></br>
  <input type= "email" name= "email"></input></br>
  <input type= "text" name= "phone_number"></input></br>
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <button type= "submit">Postuler</button>
</form>
