<!-- <center>

	<h1>TOUS LES DONATEURS :D </h1>
	<ol>
		<% @donateurs.each do |donation| %>
			<h3> <li> <%= User.find(donation.user_id).email %> a donné <%= donation.don %> </li> </h3>
		<% end %>
	</ol>

</center> -->